<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="wallpapersXml" value="wallpapers.xml" />
    <add key="logfile" value="debug.log" />
    <add key="watchInterval" value="3000" />
    <add key="resetWallpaperOnExit" value="True"/>
  </appSettings>
</configuration>
